appPlayCryptoSecret: 9Zg1N26P0zmKLbTE2FiOccQCz1ReYK9j
campaignerDbPassword: password
campaignerDaemonDbPassword: password
deviceRegistryDbPassword: password
directorDaemonDbPassword: password
directorDbPassword: password
mysqlRootPassword: password
sotaCoreAwsAccessKey: access-key
sotaCoreAwsSecretKey: secret-key
sotaCoreDbPassword: password
sotaCoreJwtSecret: 4Ei1Ot5gx4RiOGFAU72LGkbha5NeHcZG
treehubAwsAccessKey: access-key
treehubAwsSecretKey: secret-key
treehubDbPassword: password
treehubJwtSecret: Mzrslhr2SjCmol2sE9jzu4NJsmpp2k48
tufKeyserverDaemonDbPassword: password
tufKeyserverVaultToken: 3e392d1a-ce07-11e7-a66e-38c9863f9476
tufKeyserverDbPassword: password
tufVaultToken: 3e392d1a-ce07-11e7-a66e-38c9863f9476
tufReposerverAwsAccessKey: access-key
tufReposerverAwsSecretKey: secret-key
tufReposerverDbPassword: password
tufVaultMysqlPassword: password
webEventsJwtSecret: kRUHxeK8OqUvxQbjtdr985lQAd7pnYuk
