appJwtSecret: 4Ei1Ot5gx4RiOGFAU72LGkbha5NeHcZG
appPlayCryptoSecret: 9Zg1N26P0zmKLbTE2FiOccQCz1ReYK9j
campaignerDbPassword: campaigner
deviceRegistryDbPassword: device_registry
dockerEmail: docker@email.com
dockerPassword: dockerhubpass
dockerUser: dockerhubuser
directorDbPassword: director
mysqlRootPassword: root
sotaCoreAwsAccessKey: access-key
sotaCoreAwsSecretKey: secret-key
sotaCoreDbPassword: sota_core
sotaCoreJwtSecret: 4Ei1Ot5gx4RiOGFAU72LGkbha5NeHcZG
treehubAwsAccessKey: access-key
treehubAwsSecretKey: secret-key
treehubDbPassword: treehub
treehubJwtSecret: Mzrslhr2SjCmol2sE9jzu4NJsmpp2k48
tufKeyserverDaemonDbPassword: tuf_keyserver
tufKeyserverDaemonVaultToken: 3e392d1a-ce07-11e7-a66e-38c9863f9476
tufKeyserverDbPassword: tuf_keyserver
tufKeyserverVaultToken: 3e392d1a-ce07-11e7-a66e-38c9863f9476
tufReposerverAwsAccessKey: access-key
tufReposerverAwsSecretKey: secret-key
tufReposerverDbPassword: tuf_reposerver
tufVaultDbPassword: tuf_vault
webEventsJwtSecret: kRUHxeK8OqUvxQbjtdr985lQAd7pnYuk
