---
apiVersion: v1
kind: Service
metadata:
  name: {{ template "ota-app.fullname" . }}
  labels:
    app: {{ template "ota-app.name" . }}
    chart: {{ template "ota-app.chart" . }}
    release: {{ .Release.Name }}
    heritage: {{ .Release.Service }}
  annotations:
    {{- if .Values.service.internal }}
    service.beta.kubernetes.io/aws-load-balancer-internal: "true"
    {{- end }}
    {{- if .Values.service.sslCert }}
    service.beta.kubernetes.io/aws-load-balancer-ssl-cert: {{ .Values.service.sslCert | quote }}
    service.beta.kubernetes.io/aws-load-balancer-ssl-ports: {{ .Values.service.sslPorts | quote }}
    service.beta.kubernetes.io/aws-load-balancer-backend-protocol: "http"
    {{- end }}
    {{- if .Values.service.dnsName }}
    external-dns.alpha.kubernetes.io/hostname: {{ .Values.service.dnsName | quote }}
    {{- end }}
    {{- if .Values.service.annotations }}
    {{ toYaml .Values.service.annotations }}
    {{- end }}
spec:
  type: {{ .Values.service.type }}
  ports:
    - port: {{ .Values.service.externalPort }}
      targetPort: {{ .Values.service.internalPort }}
      protocol: TCP
      name: http
  selector:
    app: {{ template "ota-app.name" . }}
    release: {{ .Release.Name }}
