---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ template "ota-web-events.fullname" . }}
  labels:
    app: {{ template "ota-web-events.name" . }}
    chart: {{ template "ota-web-events.chart" . }}
    release: {{ .Release.Name }}
    heritage: {{ .Release.Service }}
spec:
  replicas: {{ .Values.replicaCount }}
  selector:
    matchLabels:
      app: {{ template "ota-web-events.name" . }}
      release: {{ .Release.Name }}
  template:
    metadata:
      labels:
        app: {{ template "ota-web-events.name" . }}
        release: {{ .Release.Name }}
      annotations:
        {{- if .Values.prometheus.scrape }}
        prometheus.io/scrape: "true"
        {{- end }}
        checksum/config: {{ include (print $.Template.BasePath "/configmap.yaml") . | sha256sum }}
    spec:
    {{- if .Values.registryPullSecret }}
      imagePullSecrets:
      - name: {{ .Values.registryPullSecret }}
    {{- end }}
      containers:
        - name: {{ .Chart.Name }}
          image: "{{ .Values.image.repository }}:{{ .Values.image.tag }}"
          env:
          - name: JWT_SECRET
            valueFrom:
              secretKeyRef:
                name: jwt-signing-key
                key: jwt-signing-key
          envFrom:
          - configMapRef:
              name: {{ template "ota-web-events.fullname" . }}
          imagePullPolicy: {{ .Values.image.pullPolicy }}
          ports:
          - containerPort: {{ .Values.configMap.BIND_PORT }}
            name: http
          resources:
{{ toYaml .Values.resources | indent 12 }}
          livenessProbe:
            initialDelaySeconds: 30
            periodSeconds: 30
            httpGet:
              port: {{ .Values.configMap.BIND_PORT }}
              path: "/health"
    {{- with .Values.nodeSelector }}
      nodeSelector:
{{ toYaml . | indent 8 }}
    {{- end }}
    {{- with .Values.affinity }}
      affinity:
{{ toYaml . | indent 8 }}
    {{- end }}
    {{- with .Values.tolerations }}
      tolerations:
{{ toYaml . | indent 8 }}
    {{- end }}
